  
  @import '/scss/_functions';
  
#cart {
    filter: invert(1) brightness(0.5);
}


.nav-item a {
    line-height: 32px;
    /* Adjust this value to match your image height */
}

.cropped-image {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 64;
    object-fit: cover;
    transform: scale(0.2) translate(0, 5%);
  }

  .gradient-text {
    font-size: 72px;
    background: -webkit-linear-gradient(#fdb61a,#fe991f, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

